aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alabaster==0.7.13
arabic-reshaper==3.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asn1crypto==1.5.1
astroid==2.15.5
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
black==22.12.0
build==1.0.3
certifi==2019.6.16
cffi==1.15.1
cfgv==3.3.1
cloudinary==1.33.0
crispy-bootstrap5==0.7
cryptography==41.0.3
cssselect2==0.7.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.6
distlib==0.3.6
django==3.1.14
django-admin-black==1.0.8
django-appconf==1.0.5
django-bootstrap-form==3.4
django-cleanup==8.0.0
django-cloudinary-storage==0.3.0
django-compressor==4.1
django-cors-headers==3.13.0
django-coverage-plugin==3.0.0
django-crispy-forms==1.14.0
django-environ==0.9.0
django-extensions==3.2.1
django-forms-bootstrap==2.0.3.post2
django-jazzmin==2.4.9
django-model-utils==4.3.1
django-redis==5.2.0
django-stubs==1.13.1
django-xhtml2pdf==0.0.4
django_debug_toolbar==3.8.1
djangorestframework==3.11.2
djangorestframework-stubs==1.8.0

filelock==3.12.2
gunicorn==20.1.0
identify==2.5.24
idna==2.8
imagesize==1.4.1
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.11
MarkupSafe==2.1.3
mysql-connector-python==8.0.20
nodeenv==1.8.0
oscrypto==1.3.0
packaging==23.1
parso==0.8.3
pathspec==0.11.1
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==2.20.0
prompt-toolkit==3.0.38
protobuf==3.12.2
psycopg2-binary==2.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.9
pydot==1.4.1
pyflakes==3.0.1
Pygments==2.15.1
PyHamcrest==2.0.4
pyHanko==0.20.0
pyhanko-certvalidator==0.23.0
PyJWT==2.8.0
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pyparsing==2.4.7
pypdf==3.15.4
pypng==0.20220715.0
requests==2.31.0
rjsmin==1.2.0
snowballstemmer==2.2.0
sqlparse==0.4.4
twilio==8.8.0
