sgiref==3.5.0
certifi==2019.6.16
chardet==3.0.4
cloudinary==1.33.0
crispy-bootstrap5==0.7
decorator==5.1.1
django==3.1.14
django-admin-black==1.0.8
django-appconf==1.0.5
django-bootstrap-form==3.4
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
django-forms-bootstrap==2.0.3.post2
django-jazzmin==2.4.9
django-model-utils==4.3.1
django-xhtml2pdf==0.0.4
django_debug_toolbar==3.8.1
djangorestframework==3.11.2
djangorestframework-stubs==1.8.0
django-jazzmin==2.4.9
gunicorn==20.1.0
idna==2.8
mysql-connector-python==8.0.20
Pillow==9.0.1
pytz==2019.1
reportlab==4.0.4
requests==2.31.0
twilio==8.8.0
whitenoise==6.2.0
xhtml2pdf==0.2.11
packaging==23.1
parso==0.8.3
pathspec==0.11.1
pickleshare==0.7.5
Pillow==9.0.1
pip-tools==7.3.0
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==2.20.0
prompt-toolkit==3.0.38
protobuf==3.12.2
psycopg2-binary==2.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.9
pydot==1.4.1
pyflakes==3.0.1
Pygments==2.15.1
PyHamcrest==2.0.4
pyHanko==0.20.0
pyhanko-certvalidator==0.23.0
PyJWT==2.8.0
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pyparsing==2.4.7
pypdf==3.15.4
pypng==0.20220715.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pytest==7.2.0
pytest-django==4.5.2
pytest-sugar==0.9.6
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-magic==0.4.27
python-slugify==7.0.0
pytz==2019.1
PyYAML==6.0

a