aiohttp
aiohttp-retry
aiosignal
alabaster
arabic-reshaper
argon2-cffi
argon2-cffi-bindings
asgiref
asn1crypto
astroid
asttokens
async-timeout
attrs
Automat
Babel
backcall
beautifulsoup4
black
build
certifi
cffi
cfgv
channels
chardet
charset-normalizer
click
cloudinary
colorama
constantly
coverage
crispy-bootstrap5
cryptography
cssselect2
decorator
Deprecated
dill
distlib
Django
django-admin-black
django-appconf
django-bootstrap-form
django-bootstrap4
django-cleanup
django-cloudinary-storage
django-compressor
django-cors-headers
django-coverage-plugin
django-crispy-forms
django-environ
django-extensions
django-forms-bootstrap
django-jazzmin
django-model-utils
django-redis
django-stubs
django-stubs-ext
django-xhtml2pdf
django_debug_toolbar
djangorestframework
djangorestframework-stubs
docutils
drf-spectacular
exceptiongroup
executing
factory-boy
Faker
filelock
flake8
flake8-isort
frozenlist
gevent
gopay
graphviz
greenlet
gunicorn
hiredis
html5lib
hyperlink
identify
idna
imagesize
importlib-metadata
incremental
inflection
iniconfig
ipdb
ipython
isort
jedi
Jinja2
jsonschema
lazy-object-proxy
livereload
lxml
MarkupSafe
matplotlib-inline
mccabe
multidict
mypy
mypy-extensions
mysql-connector-python
nodeenv
oscrypto
packaging
parso
pathspec
pickleshare
Pillow
pip-tools
platformdirs
pluggy
pre-commit
prompt-toolkit
protobuf
psycopg2-binary
pure-eval
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pydot
pyflakes
Pygments
PyHamcrest
pyHanko
pyhanko-certvalidator
PyJWT
pylint
pylint-django
pylint-plugin-utils
pyparsing
pypdf
pypng
pyproject_hooks
pyrsistent
pytest
pytest-django
pytest-sugar
python-bidi
python-dateutil
python-decouple
python-dotenv
python-magic
python-slugify
pytz
PyYAML
qrcode
rcssmin
redis
reportlab
requests
rjsmin
rsa
six
snowballstemmer
soupsieve
Sphinx
sphinx-autobuild
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
stack-data
stripe
svglib
termcolor
text-unidecode
tinycss2
toml
tomli
tomlkit
tornado
traitlets
twilio
Twisted
twisted-iocpsupport
txaio
types-pytz
types-PyYAML
types-requests
types-urllib3
typing_extensions
tzdata
tzlocal
uritemplate
uritools
urllib3
virtualenv
watchdog
wcwidth
webencodings
Werkzeug
whitenoise
wrapt
xhtml2pdf
yarl
zipp
zope.event
zope.interface
